.hero {
    display: flex;
    padding: 0 7rem;
    background: #18242F;
    justify-content: space-between;
    padding-bottom: 7rem;

    .hero-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        position: relative;

        h1 {
            font-size: 5rem;
            font-weight: bold;
            color: white;

            span {
                color: #E9BD45;
            }
        }

        p {
            font-size: 1.3rem;
            color: #C9C9C9;
        }

        .search-bar {
            form {
                display: flex;
                position: relative;
                align-items: center;
                border-radius: 15px;
                overflow: hidden;
                flex-wrap: nowrap;

                input {
                    outline: none;
                    border: none;
                    padding: 1.5rem;
                    padding-left: 3.5rem;
                }

                :nth-child(1) {
                    width: 15rem;
                    background-image: url('../../assets/images/search.png');
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-position: 18px center;
                }

                :nth-child(3) {
                    width: 23rem;
                    background-image: url('../../assets/images/location.png');
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-position: 18px center;
                    padding-right: 10rem;
                }

                .divider {
                    height: 30px;
                    width: 1px;
                    background-color: transparent;
                }

                button {
                    background: #18242F;
                    color: #E9BD45;
                    border: none;
                    outline: none;
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    padding: 1rem 2rem;
                    border-radius: 15px;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }

    .hero-right {
        flex: 1;
        position: relative;
        height: fit-content;
        min-height: 650px;

        .pentagon1 {
            position: absolute;
            top: 5rem;
            left: 13rem;
            width: 350px;
            height: 530px;
            background-color: #E9BD45;
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 80% 0%);
        }

        .pentagon2 {
            position: absolute;
            top: 3rem;
            left: 15rem;
            width: 350px;
            height: 530px;
            background: url('../../assets/images/hero-image.jpg');
            background-size: cover;
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 80% 0%);
        }

        .companiesJobs,
        .userFoundJobs {
            background: #EEEEEE;
            width: fit-content;
            padding: 1rem 3rem 1rem 1.5rem;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            position: absolute;

            :nth-child(1) {
                color: #E9BD45;
                font-size: 2rem;
                font-weight: bold;
            }

            :nth-child(2) {
                color: #5F5F5F;
                font-size: 1rem;
            }
        }

        .companiesJobs {
            left: 32rem;
            top: 13rem;
        }

        .userFoundJobs {
            left: 8rem;
            top: 33rem;
        }
    }

}